.hero{

    background-image: url(img/naslovna\ 2-min.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;

}

#portfolio.card{
    position: relative;
    margin-bottom: 2em;
}

#portfolio.card-text {


    padding: 30 px;
}

.custom-navbar{

    background: rgb(53, 53, 49,.9) !important;
    
}

.navbar-brand{

    color: rgb(203, 203, 203);
    font-size: 2rem;
    

}


.navbar-brand:hover {

    color: rgb(75, 163, 213);
    transition: .4s ease;
}


.nav-link{

    color: whitesmoke;
    text-transform: uppercase;
    padding-left: 50px;
    
}

.active{

    color: rgb(206, 143, 143) !important;
}



h2::after {

    content: "";
    display: block;
    margin: 30px auto;
    width: 200px;
    height: 5px;
    background: orange;

}

footer{

    background-color: orange;
}

footer a {

    color: gray;
    font-size: 2,5rem;
    margin: 10px;
}

footer a:hover{

    color: whitesmoke;
    transition: 0.7s;
}

footer i:hover{

    animation: footer 0.7s ease;
}

@keyframes footer {

    100% {

        transform: rotate(360deg);
    }
}

footer h3 {

    color: gray;
    margin-top: 30px;
}

footer h2 {

    color: gray;
    font-size: 3rem;
}

footer h4 {
    font-size: 2rem !important;
    color: gray;
    padding-bottom: 20px;
}

section h4{

    color: rgb(252, 248, 248);
    padding-top: 300px;
    font-size: 4rem;
    font-family: 'Playfair Display', serif;

}



section p {

    padding-top: 20px;
}


#activities img{
     max-width: 100%;
    border-radius: 8px;
    height: auto;
}


#carouselExample {
    width: 50%; 
    max-width: 120%; 
    margin: 0 auto; 

}


.carousel-inner {
    width: 100%;
    height: 600px; 
    border-radius: 5%;

}

.carousel-item img {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
    
}


.carousel-item {
    transition: transform 0.5s ease, opacity 0.5s ease;
}

.carousel-control-prev-icon, 
.carousel-control-next-icon {
    background-color: rgb(34, 34, 36); 
    border-radius: 50%; 
}


@media (max-width: 767px) {
    #carouselExample {
        height: 300px; 
    }
    .carousel-inner {
        height: 300px;
    }
}



.row {
    display: flex;
    justify-content: space-between; 
    align-items: flex-start; 
}

.col-md-6 {
    flex: 0 0 48%; 
}



.custom-map {
    width: 100%; 
    max-width: 300px; 
    height: 250px; 
    border: 0; 
    border-radius: 5pt;
    margin-top: 10px;
    margin-bottom: 20px;
}



footer {
    width: 100% ;
    padding: 30px 0;  
    background-color: rgb(53, 53, 49, 0.9) !important;  
    font-size: 0.875rem;  
    color: rgb(226, 217, 217);  
    margin: 0;  
    position: relative;  
    bottom: 0; 
    left: 0;  
    right: 0;  
}

footer h2, footer h5, footer h6 {
    font-weight: normal;
    margin-bottom: 0.5rem;
    color: rgb(226, 217, 217);
}

footer .custom-map iframe {
    height: 250px;
}

footer .fa-2x {
    font-size: 2.5rem;
    color: rgb(163, 157, 157);
    text-align: center !important;
}

nav button {
    background-color: #f9f7f7;
    border: 1px solid #ccc;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
    font-size: 13px;
    border-radius: 10px;
}
nav button:hover {
    background-color: #ddd;
}

.navbar-nav .nav-link.active {
    color: rgb(21, 20, 20) !important;
    font-weight: bold; 
}

.py-5 {
    padding-top: 1rem !important;
    padding-bottom: 3rem !important;
}

@media (max-width: 768px) {
    .carousel-control-prev,
     
    .carousel-control-next {
        top: 30%; 
        transform: translateY(-50%);
    }
}

@media (max-width: 768px) {

    .carousel-item img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 8px;

    }
}

@media (max-width: 768px) {
    .carousel-control-prev-icon, .carousel-control-next-icon {
        background-color: transparent;
        border-radius: 50%;
    }


    }
    


    .hero h4::after {
        content: "";
        display: block;
        margin: 30px auto;
        width: 800px; 
        height: 5px;
        background: orange;
    }
    
    
    @media (max-width: 768px) {
        .hero h4::after {
            width: 50%; 
            height: 3px; 
            margin: 15px auto; 
        }
    }
    
    @media (max-width: 768px) {
        .hero {
            height: 100vh;
            padding: 10px;
            justify-content: center;
            align-items: center;
            height: 70vh;
            text-align: center;
            padding: 20px;
        }
    }

    

    #bottom {
        font-family: 'Playfair Display', serif;

        font-size: 30px;
        font-weight: bold;
        color: #f9f7f7;
        text-transform: uppercase;
        letter-spacing: 2px;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    }

    @media (max-width: 768px) {
        #bottom {
            font-size: 10px; 
        }
    }
    
    
    @media (max-width: 768px) { 
        .hero {
            padding-top: 20px; 
        }
    
       
    }

    .rating-container {
        text-align: center;
        margin-bottom: 20px;
    }
    
    .stars {
        display: flex;
        justify-content: center;
        font-size: 4rem;
        color: gray;
        cursor: pointer;
    }
    
    .star:hover,
    .star.active {
        color: gold;
    }
      
    h3::after {
        content: "";
        display: block;
        margin: 30px auto;
        width: 200px;
        height: 5px;
        background: orange;
    }
      
h3{
    text-align: center;
}

@media (max-width: 600px) {
    p {
        text-align: left;
        margin-bottom: 0.5rem;
        text-align: center;
    }
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
    text-align: center;
}


.act{

    text-align: left;
}


.containerstar{
    position: relative;
    width: 400px;
    background: rgb(53, 53, 49, 0.9) ;
    padding: 20px 30px;
    border: 1px solid #444;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    

}
.containerstar .post{

    display: none;
}

.containerstar .text{

    font-size: 25px;
    color: rgb(226, 217, 217);
    font-weight: 500;
}
.containerstar .edit{
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: 16px;
    color: rgb(226, 217, 217);
    font-weight: 500;
    cursor: pointer;
}
.containerstar .star-widget input{
    display: none;


}

.star-widget label{

    font-size: 40px;
    color: #a2a861;
    padding: 10px;
    float: right;
    transition: all 0.2s ease;
}

input:not(:checked) ~ label:hover
input:not(:checked) ~ label:hover ~ label{
    color: #fd4;

}
input:checked ~ label{

    color: #fd4;

}

input#rate-5:checked ~ label{

    color: #fe7;
    text-shadow: 0 0 20px #952;

}

form header{

    width: 100%;
    font-size: 25px;
    color: #fe7;
    font-weight: 500;
    margin: 5px 0 25p 0;
    text-align: center;
    transition: all 0.2 ease;
}

input#rate-1:checked ~ form header:before{

    content: "Vrlo loše";

}
input#rate-2:checked ~ form header:before{

    content: "Loše";

}input#rate-3:checked ~ form header:before{

    content: "Prosečno";

}input#rate-4:checked ~ form header:before{

    content: "Dobro";

}input#rate-5:checked ~ form header:before{

    content: "Odlično";

}

.containerstar form{

    display: none;
}
input:checked ~ form{

    display: block;
}

form textarea{


    height: 100px;
    width: 100%;
    overflow: hidden;
}

form .textarea textarea{

    height: 100%;
    width: 100%;
    outline: none;
    border: 1px solid #333;
    background: #d4cece;
    padding: 10px;
    font-size: 17px;
    resize: none;
}


form .btnPOST{

    height: 45px;
    width: 100%;
    margin: 15px 0;

}

form .btnPOST button{

    width: 100%;
    height: 100%;
    border: 1px solid #444;
    outline: none;
    background: #222;
    color: #999;
    font-size: 17px;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s ease ;
}

form .btnPOST button:hover{

    background:#1b1b1b;
}


.containerstar .edit:hover{

    text-decoration: underline;
    
}

.containerstar .edit{

    font-size: 15px;
}


.startitle{

    color: rgb(226, 217, 217);

}

.containerstar {
    position: relative;
    width: 400px;
    background: rgb(53, 53, 49, 0.9);
    padding: 20px 30px;
    border: 1px solid #444;
    border-radius: 5px;
    display: flex
;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}

.card-title {
    text-align: center !important;
}


.label-left {
    text-align: left;
    margin-bottom: 5px; 
  }
  